<div class="d-flex flex-wrap gap-1 mb-2">
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="20" [buttonSize]="'xs'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="22" [buttonSize]="'sm'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="26" [buttonSize]="'lg'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="30" [buttonSize]="'xl'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="30" [buttonSize]="'xxl'" [color]="buttonColor"></app-button>
</div>
<div class="d-flex flex-wrap gap-1 mb-2">
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="20" [buttonSize]="'xs'" [colorMode]="'highlight'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="22" [buttonSize]="'sm'" [colorMode]="'highlight'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [colorMode]="'highlight'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="26" [buttonSize]="'lg'" [colorMode]="'highlight'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="30" [buttonSize]="'xl'" [colorMode]="'highlight'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="30" [buttonSize]="'xxl'" [colorMode]="'highlight'" [color]="buttonColor"></app-button>
</div>
<div class="d-flex flex-wrap gap-1 mb-2">
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="20" [buttonSize]="'xs'" [colorMode]="'outline'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="22" [buttonSize]="'sm'" [colorMode]="'outline'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [colorMode]="'outline'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="26" [buttonSize]="'lg'" [colorMode]="'outline'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="30" [buttonSize]="'xl'" [colorMode]="'outline'" [color]="buttonColor"></app-button>
    <app-button [label]="'لورم ایپسوم متن'" [iconName]="'fire'" [iconSize]="30" [buttonSize]="'xxl'" [colorMode]="'outline'" [color]="buttonColor"></app-button>
</div>
