.page-content{
    &:has(.header-container){
        .content-container{
            min-height: calc(100dvh - 50px);
            gap: 0;
        }
    }
    .content-container{
        padding: var(--paddingMd);
        display: flex;
        gap: var(--gapLg);
        min-height: 100dvh;
        .router-container{
            flex-grow: 1;
            min-height: 100%;
            border-radius: var(--borderRadiusMd);
            border: 1px solid var(--gray-light-80);
        }
    }
}