<apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [plotOptions]="chartOptions.plotOptions"
    [dataLabels]="chartOptions.dataLabels"
    [stroke]="chartOptions.stroke"
    [grid]="chartOptions.grid"
    [colors]="chartOptions.colors"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [fill]="chartOptions.fill"
    [legend]="chartOptions.legend"
    [responsive]="chartOptions.responsive"
    [tooltip]="chartOptions.tooltip"
    [labels]="chartOptions.labels"
    class="custom-apex-chart-style"
>
</apx-chart>